body {
    margin: 0;
    background-image: url('/assets/bgbg.svg');
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    min-width: 850px;
    height: 100%;
    font-family: Gibson;
    letter-spacing: 0px;
    color: #000000b6;
}



@media only screen and (min-width: 1750px) {
    .infoBox > * > * {
        font-size: 18pt;
    }
    
    #header {
        width: 100%;
        height: 30%;
        background: url('/assets/top.svg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
    }

    #head_box {
        padding: 20px 20px 300px 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        height: 100%;
    }

    
    #logo {
        height: 100px;
    }

    #pic {
        height: 100px;
        opacity: 0.7;
    }

    #slogan {
        text-align: center;
        flex: 4;
        font-size: 33pt;
    }

    #main {
        margin-top: -150px;
    }
}

@media only screen and (max-width: 1750px) {
    .infoBox > * > * {
        font-size: 15pt;
    }
    
    #header {
        width: 100%;
        height: 150px;
        background: #FFFAF3;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
        margin-bottom: 100px;
    }

    #head_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }

    #head_box > *{
        padding-left: 20px;
    }

    
    #logo {
        height: 50px;
    }

    #pic {
        height: 50px;
        opacity: 0.7;
    }

    #slogan {
        text-align: center;
        flex: 4;
        font-size: 22pt;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    #main {
        margin-top: -50px;
    }
}

@media only screen and (max-width: 1500px) {
    .infoBox > * > * {
        font-size: 14pt;
    }
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infoBoxRow {
    display: flex;
    height: 20%;
    width: 70%;
    max-width: 1350px;
    min-width: 1000px;
    justify-content: space-between;
    color: #313131b5;
}

.infoBox {
    position: relative;
    padding: 0px 25px 0px 25px;
    width: 35%;
    overflow: hidden;
}
.infoBox > *{
    padding-bottom: 125%;
    height: 0px;
    text-align: center;
}

.infoBox > * > * {
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

#beigeInfo {
    background: url('/assets/beige.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

#blueInfo {
    background: url('/assets/beige.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    
}

#greenInfo {
    background: url('/assets/beige.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    
}


.segmentBox {
    margin: 50px 0px 50px 0px;
    height: 500px;
    border-radius: 35px;
    width: 70%;
    min-width: 950px;
    max-width: 1450px;
    box-shadow: 0px 10px 28px #0000002e;
    overflow: hidden;
    display: flex;
}

.segmentBox > *{
    flex: 1;
}

#studentBox{
    background-color: #FFF3E2;
}
#businessBox{
    background-color: #BFD8E9;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

#img1{
    background: url('/assets/brooke-cagle--uHVRvDr7pg-unsplash.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 3px 6px #00000029;
}

#img2{
    background: url('/assets/pexels-daria-shevtsova-3626622.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form > * {
    margin-top: 5px;
    margin-bottom: 5px;
}

#form #submit {
    background: #A19687 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    border: none;
    color: #FFFAF3;
}

#cta {
    width: 80%;
    text-align: center;
    font: normal normal normal 19px/23px Gibson;
    letter-spacing: 0px;
    color: #7E7B76;
    opacity: 0.9;
}


input {
    background:#FFFAF3 0% 0% no-repeat padding-box;
    border: 3px solid #FFFAF3;
    border-radius: 6px;
    height: 35px;
    text-align: left;
    font: normal normal 300 19px/23px Gibson;
    letter-spacing: 0px;
    color: #000000c2;
}

footer {
    margin-top: 200px;
    background: #A7BF96 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #0000004F;
    height: 170px;
    width: 70%;
    border-radius: 43px 43px 0px 0px;
    display: flex;
    padding: 30px 50px 10px 50px;
    align-items: center;
}

#about {
    flex: 3;
}

#contactInfo {
    text-align: end;
    flex: 1;
}
#contactInfo b {
    font-size: 20pt;
}
